[general]
port = 9000 

[database]
driver = mysql; you can use mysql, postgres and sqlite3 
user = root
password = abc123
name = zocprint
;path = zocprint.bd ; use it with sqlite3

[table]
url = url
hash = hash
name = shortened_url